@using CodeKicker.BBCode
@{
    ViewBag.Title = "Create Picture";
}

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Create Character</h1>
        <ul class="pull-right breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Explore", "Explore", "Home")</li>
            <li>@Html.ActionLink("Gallery", "Index", "Gallery")</li>
            <li class="active">Create Picture</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->

<div class="container content-sm">
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger">
            <strong>Error:</strong>
            @Html.Raw(BBCode.ToHtml(ViewBag.Error))
        </div>
    }

    @using (Html.BeginForm("PostCreate", "Gallery", null, FormMethod.Post, new {@class = "sky-form contact-style", enctype = "multipart/form-data"}))
    {
        <fieldset class="no-padding">
            <label>Title <span class="color-red">*</span></label>
            <div class="row sky-space-20">
                <div class="col-md-7 col-md-offset-0">
                    <div>
                        <input type="text" name="title" id="title" class="form-control">
                    </div>
                </div>
            </div>
            
            <label>Type <span class="color-red">*</span></label>
            <div class="row sky-space-20">
                <div class="col-md-7 col-md-offset-0">
                    <div>
                        <select class="form-control" name="type" required>
                            <option value="Artwork">Artwork</option>
                            <option value="Screenshot">Screenshot</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <label>Description</label>
            <div class="row sky-space-20">
                <div class="col-md-11 col-md-offset-0">
                    <div>
                        <textarea rows="5" name="description" id="description" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            
            <label>Image</label>
            <div class="row sky-space-20">
                <div class="col-md-11 col-md-offset-0">
                    <div class="input input-file">
                        <div class="button">
                            <input type="file" name="image" required onchange="document.getElementById('urlHolder').value = this.value" />
                            Browse
                        </div>
                        <input type="text" id="urlHolder" placeholder="Image will be resized to be 800x450 (16:9)" readonly />
                    </div>
                </div>
            </div>
            
            <p><button type="submit" id="submitBtn" class="btn-u">Create Picture</button></p>
        </fieldset>
    }
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#submitBtn").click(function () {
                $("#submitBtn").addClass("disabled");
                $("#submitBtn").disabled = true;
                $("#submitBtn").html("<i class='fa fa-spin fa-spinner'></i> Creating Picture...");
                $("#submitBtn").type = "button";
            });
        })
    </script>
}
