
@{
    ViewBag.Title = "Terms of Service";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Terms of Service</h1>
        <ul class="pull-right breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Terms of Service</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">
    <div class="row-fluid privacy">
        <p>By doing anything on this website, you're agreeing to the following things:</p>
        <ol>
            <li>You will maintain a fair, kind atmosphere free of hate or oppression of any person or group of people.</li>
            <li>You will not attempt to destroy or disable the website in any way, nor take advantage of any bugs that may result in the destruction or disabling of the website.</li>
            <li>You will provide accurate and reasonable information and not attempt to overload the website with spam or other nonsense.</li>
            <li>You will not attempt to seize any accounts or content nor will you attempt to seize control of the website itself.</li>
        </ol><br />

        <h4>Intellectual Property</h4>
        <p>This is one of those things that we shouldn't have to cover but we do anyways. If you made it or imagined it, it's yours. If you didn't make it and you're just sharing it, well make sure you have permission for it. Of course, we as administrators and owners of the site don't claim anything but the stuff we personally put up. Finally, we of course don't own World of Warcraft or any related things. That's all Blizzard Entertainment's stuff.</p><br />
    </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->

